body {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
  }

  .container::before{
    background: url(loginbg.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.85; */
}
  
  .login-box {
    background-color: rgb(228, 247, 241);
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 40px 40px 40px rgba(230, 4, 4, 0.1); */
  }
  
  img {
    width: 160px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0b0b0;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #173555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password {
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: #ff8000;
  }
  